# --- PROVEDOR DE IA (Escolha UM cenário abaixo) ---

# CENÁRIO A: Local (Ollama)
# LLM_MODEL=llama3.1
# OPENAI_API_BASE=http://localhost:11434/v1
# OPENAI_API_KEY=ollama

# CENÁRIO B: Google Gemini (Cloud)
# LLM_MODEL=gemini-flash-latest
# OPENAI_API_BASE=https://generativelanguage.googleapis.com/v1beta/openai/
# OPENAI_API_KEY=sua_chave_gemini_aqui

# CENÁRIO C: OpenAI (Cloud)
# LLM_MODEL=gpt-4o-mini
# OPENAI_API_BASE=
# OPENAI_API_KEY=sua_chave_openai_aqui

# --- CONFIGURAÇÕES DO SISTEMA ---
KB_URL=https://raw.githubusercontent.com/igortce/python-agent-challenge/refs/heads/main/python_agent_knowledge_base.md
DEBUG=True
