# Chave da OpenAI (Obrigatório apenas para o perfil Cloud)
OPENAI_API_KEY=sk-...

# URL da Base de Conhecimento (Padrão do Desafio)
KB_URL=https://raw.githubusercontent.com/igortce/python-agent-challenge/refs/heads/main/python_agent_knowledge_base.md

# Configurações de Debug
DEBUG=True
